{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center>
		<h1>Forgot Password</h1>
		{% if msg %}
			<b style="color: blue;">{{msg}}</b>
		{% endif %}	
		<form method="post" action="{% url 'forgot-password' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>Email</td>
					<td><input type="text" name='email'></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" name="action" value="send otp" class="btn btn-primary">
					</td>
				</tr>
			</table>
		</form>
</center>
</body>
</html>
{% endblock %}