{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center>
		<h1>New Password</h1>
		{% if msg %}
			<b style="color: blue;">{{msg}}</b>
		{% endif %}	
		<form method="post" action="{% url 'new-password' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td><input type="hidden" name="email" value="{{email}}"></td>
				</tr>
				<tr>
					<td>New Password</td>
					<td><input type="password" name="new_password"></td>
				</tr>
				<tr>
					<td>Confrim Password</td>
					<td><input type="password" name="cnew_password"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" name="action" value="Update password" class="btn btn-primary">
					</td>
				</tr>
			</table>
		</form>
</center>
</body>
</html>
{% endblock %}